<%- include('../../partition/header.ejs') %>
<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                            <li><a href="/admin/blog">Blogs</a></li>
                            <li><a href="/admin/category" class="active">Categories</a></li>
                            <li><a href="/admin/about">About</a></li>
                            <li><a href="/admin/contact">Contact</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                          <div class="dash-title">
                              <h1>Create Category</h1>
                          </div>
                        </div>
                        <div class="blog-form">
                          <form action="/admin/category_insert" method="post">
                            <div class="form-group form-row">
                                <label class="col-md-3">Category Name<span class="required">*</span></label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" name="category_name"  placeholder="Category" required>
                                </div>
                            </div>
                            
                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                  <button type="submit" class="btn btn-primary save-btn">Save</button>
                                </div>
                            </div>
                          </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../../partition/footer.ejs') %>